<%= form_for(@message) do |f| %>
<div class="row">
	<div class="col-md-9">

    <div class="form-group">
      <%= label_tag(:recipient_uids, "Recipients") %>
      <%= text_field :recipient_uids, 'recipient_uids', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag(:subject, "Subject") %>
      <%= f.text_field :subject, class: "form-control", placeholder: "Example: DSS file services (dss-filer1)" %>
    </div>

    <div class="form-group">
      <%= label_tag(:impact_statement, "Impact Statement") %>
      <%= f.text_area :impact_statement, class: "form-control", placeholder: "Example: Some users are reporting trouble accessing Moobilenet", rows: 7 %>
    </div>

    <div class="form-group">
      <%= label_tag(:purpose, "Purpose") %>
      <%= f.text_area :purpose, class: "form-control", placeholder: "Example: Rebooting firewall to apply security patches", rows: 5 %>
    </div>

    <div class="form-group">
      <%= label_tag(:resolution, "Resolution") %>
      <%= f.text_area :resolution, class: "form-control", placeholder: "Example: Servers were restarted and services have been restored", rows: 5 %>
    </div>

    <div class="form-group">
      <%= label_tag(:workaround, "Workaround") %>
      <%= f.text_area :workaround, class: "form-control", placeholder: "", rows: 5 %>
    </div>

    <div class="form-group">
      <%= label_tag(:other_services, "Other Services") %>
      <%= f.text_area :other_services, class: "form-control", placeholder: "Example: Kerr Hall Wireless Network", rows: 5 %>
    </div>
  </div> <!-- .col-md-9 -->

  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag(:window_start, "Window Start") %>
      <input type="text" class="form-control" name="window_start" id="window_start" value="">
      <div id="datetimepicker" style="margin: 0; padding: 0;" class="input-append date datetimepicker"></div>
    </div>

    <div class="form-group">
      <%= label_tag(:window_end, "Window End") %>
      <input type="text" class="form-control" name="window_end" id="window_end" value="">
      <div id="datetimepicker" style="margin: 0; padding: 0;" class="input-append date datetimepicker"></div>
    </div>

    <div class="form-group">
      <%= label_tag(:classifications, "Classifications") %><br />
      <% @classifications.each do |classification| %>
        <div class="radio">
          <label>
            <%= f.radio_button(:classification, classification.short_description) %>
            <%= classification.short_description %><br />
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag(:modifiers, "Modifiers") %><br />
      <% @modifiers.each do |modifier| %>
        <div class="radio">
          <label>
            <%= f.radio_button(:modifier, modifier.short_description) %>
            <%= modifier.short_description %><br />
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag(:impacted_services, "Impacted Services") %><br />
      <% @impacted_services.each do |impacted_service| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag(:impacted_service, impacted_service.name) %>
            <%= impacted_service.name %><br />
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag(:publishers, "Publishers") %><br />
      <% @publishers.each do |publisher| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag(:publisher, publisher.name) %>
            <%= publisher.name %><br />
          </label>
        </div>
      <% end %>
    </div>
  </div> <!-- .col-md-3 -->
</div> <!-- .row -->

<div class="row">
  <div class="col-md-12">
    <div class="form-actions" style="text-align: center; padding: 1.15em;">
      <input type="submit" name="Send" class="btn btn-primary" value="Send Message" />&nbsp;
      <%= link_to 'Discard Message', messages_path, class: 'btn btn-default' %>
    </div> <!-- .form-actions -->
  </div> <!-- .col-md-12 -->
</div> <!-- .row -->

<% end %>
