<script type="text/javascript">
  $(document).ready(function() {
    // Initialize the date-time picker fields
    $("input.datetimepicker").datetimepicker({
      format: "yyyy/mm/dd HH:ii P",
      minuteStep: 30,
      autoclose: true,
      todayBtn: true,
      todayHighlight: true,
      showMeridian: true,
      pickerPosition: "bottom-left"
    });

    // Initialize the recipients typeahead field
    var recipientList = new Bloodhound({
      datumTokenizer: function(d) {
        return Bloodhound.tokenizers.obj.whitespace('value');
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 12,
      remote: {
        url: Routes.recipients_path() + '.json?q=%QUERY',
        wildcard: '%QUERY'
      }
    });

    recipientList.initialize();

    $('input.typeahead').tokenfield({
      typeahead: [
        null, {
          source: recipientList.ttAdapter(),
          displayKey: 'label'
        }
      ]
    });

    <% if @message.recipients %>
    // If message has validation errors or is a duplicate of another message,
    // we may already have recipients to add to the token list.
    var tokens = [];

    <% @message.recipients.each do |recipient| %>
    tokens.push({ value: '<%= escape_javascript(recipient.uid) %>', label: '<%= raw escape_javascript(recipient.name) %>' });
    <% end %>

    $('input.typeahead').tokenfield('setTokens', tokens);
    <% end %>
  });

  // Called by the form's onSubmit to convert tokenfield's API data into
  // something readable by the backend.
  function saveRecipientList() {
    var tokens = $('input.typeahead').tokenfield('getTokens');

    if(tokens) {
      var recipients = [];

      for (var i = 0; i < tokens.length; i++) {
        recipients.push({ uid: tokens[i].value, name: tokens[i].label });
      }

      $('input.typeahead').val(JSON.stringify(recipients));
    }
  }
</script>

<%= form_for(@message, :html => { :onsubmit => "saveRecipientList()" }) do |f| %>

<% if @message.errors.any? %>
<div class="row">
	<div class="col-md-12">
    <div class="alert alert-danger" role="alert" style="width: 40%; margin: auto auto;">
      <ul style="padding-left: 0;">
      <% @message.errors.full_messages.each do |message| %>
        <li style="list-style: none;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="row">
	<div class="col-md-9">

    <div class="form-group">
      <%= label_tag(:recipients, "Recipients") %>
      <%= f.text_field :recipients, class: "typeahead form-control", value: "" %>
    </div>

    <div class="form-group">
      <%= label_tag(:subject, "Subject") %>
      <%= f.text_field :subject, class: "form-control", placeholder: "Example: DSS file services (dss-filer1)" %>
    </div>

    <div class="form-group">
      <%= label_tag(:impact_statement, "Impact Statement") %>
      <%= f.text_area :impact_statement, class: "form-control", placeholder: "Example: Some users are reporting trouble accessing Moobilenet", rows: 7 %>
    </div>

    <div class="form-group">
      <%= label_tag(:purpose, "Purpose") %>
      <%= f.text_area :purpose, class: "form-control", placeholder: "Example: Rebooting firewall to apply security patches", rows: 5 %>
    </div>

    <div class="form-group">
      <%= label_tag(:resolution, "Resolution") %>
      <%= f.text_area :resolution, class: "form-control", placeholder: "Example: Servers were restarted and services have been restored", rows: 5 %>
    </div>

    <div class="form-group">
      <%= label_tag(:workaround, "Workaround") %>
      <%= f.text_area :workaround, class: "form-control", placeholder: "", rows: 5 %>
    </div>

    <div class="form-group">
      <%= label_tag(:other_services, "Other Services") %>
      <%= f.text_area :other_services, class: "form-control", placeholder: "Example: Kerr Hall Wireless Network", rows: 5 %>
    </div>
  </div> <!-- .col-md-9 -->

  <div class="col-md-3">
    <div class="form-group">
      <%= label_tag(:window_start, "Window Start") %>
      <%= f.text_field :window_start, class: "form-control datetimepicker" %>
    </div>

    <div class="form-group">
      <%= label_tag(:window_end, "Window End") %>
      <%= f.text_field :window_end, class: "form-control datetimepicker" %>
    </div>

    <div class="form-group">
      <%= label_tag(:classifications, "Classifications") %><br />
      <div class="radio">
        <label>
          <input type="radio" value="" name="message[classification_id]" id="message_classification_id_" <%= @message.classification.nil? ? 'checked="checked"' : '' %>>
          None<br />
        </label>
      </div>
      <% Classification.all.each do |classification| %>
        <div class="radio">
          <label>
            <%= f.radio_button(:classification_id, classification.id, :checked => (classification == @message.classification)) %>
            <%= classification.short_description %><br />
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag(:modifiers, "Modifiers") %><br />
      <div class="radio">
        <label>
          <input type="radio" value="" name="message[modifier_id]" id="message_modifier_id_" <%= @message.modifier.nil? ? 'checked="checked"' : '' %>>
          None<br />
        </label>
      </div>
      <% Modifier.all.each do |modifier| %>
        <div class="radio">
          <label>
            <%= f.radio_button(:modifier_id, modifier.id, :checked => (modifier == @message.modifier)) %>
            <%= modifier.short_description %><br />
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag(:impacted_services, "Impacted Services") %><br />
      <% ImpactedService.all.each do |impacted_service| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag "message[impacted_service_ids][]", impacted_service.id, @message.impacted_service_ids.include?(impacted_service.id) %>
            <%= impacted_service.name %><br />
          </label>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag(:publishers, "Publishers") %><br />
      <% if @message.errors.include? :publishers %><div class="checkbox_errors"><% end %>
      <% Publisher.all.each do |publisher| %>
        <div class="checkbox">
          <label>
            <% if action_name == 'new' %>
            <%= check_box_tag "message[publisher_ids][]", publisher.id, publisher.default %>
            <% elsif (action_name == 'duplicate') || (action_name == 'create') %>
            <%= check_box_tag "message[publisher_ids][]", publisher.id, @message.publisher_ids.include?(publisher.id) %>
            <% else %>
            <% raise 'Unsupported action for Publishers checkbox!' %>
            <% end %>
            <%= publisher.name %><br />
          </label>
        </div>
      <% end %>
      <% if @message.errors.include? :publishers %></div><% end %>
    </div>
  </div> <!-- .col-md-3 -->
</div> <!-- .row -->

<div class="row">
  <div class="col-md-12">
    <div class="form-actions" style="text-align: center; padding: 1.15em;">
      <%= f.submit "Send Message", class: "btn btn-primary" %>&nbsp;
      <%= link_to 'Discard Message', messages_path, class: 'btn btn-default' %>
    </div> <!-- .form-actions -->
  </div> <!-- .col-md-12 -->
</div> <!-- .row -->

<% end %>
