<h1>Listing messages</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Impact statement</th>
    <th>Window start</th>
    <th>Window end</th>
    <th>Purpose</th>
    <th>Resolution</th>
    <th>Workaround</th>
    <th>Other services</th>
    <th>Sender uid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.subject %></td>
    <td><%= message.impact_statement %></td>
    <td><%= message.window_start %></td>
    <td><%= message.window_end %></td>
    <td><%= message.purpose %></td>
    <td><%= message.resolution %></td>
    <td><%= message.workaround %></td>
    <td><%= message.other_services %></td>
    <td><%= message.sender_uid %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
