<div class="span3 affix" id="filters-sidebar">
	<% if permitted_to? :create, @message %>
	<div class="well">
		<a href="#/new" class="btn btn-primary btn-large btn-block">New Message</a>
	</div>
	<% end %>
	<div class="well filters-well hidden-phone">
		<form id="filters-form">
			<h3>Filters:</h3>
			<div id="filter_classifications"></div>
			<div id="filter_modifiers"></div>
			<div id="filter_impacted_services"></div>
			<div id="filter_messenger_events"></div>
			<br />
			<a href="#/index" id="reset-filters" class="btn hidden">Reset Filters</a>
		</form>
	</div>
</div>

<div id="messages" class="span9"></div>

<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.MessagesRouter(
			{
				messages: <%= @messages.to_json.html_safe -%>,
				pages: <%= @messages.total_pages -%>,
				current: <%= @messages.current_page -%>,
				classifications: <%= @classifications.to_json.html_safe -%>,
				modifiers: <%= @modifiers.to_json.html_safe -%>,
				impacted_services: <%= @impacted_services.to_json.html_safe -%>,
				messenger_events: <%= @messenger_events.to_json.html_safe -%>
			});
    Backbone.history.start();
  });
console.log (<%= @messages.to_json.html_safe -%>);
</script>
