<div id="messages" class="span9"></div>

<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>&nbsp;</h3>
  </div>
  <div id="modal-body">
  </div>
</div>

<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.MessagesRouter({messages: <%= @messages.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
<div class="span3">
	<div class="well">
		<a href="#/new" class="btn btn-primary btn-large btn-block">New Message</a>
	</div>
	<div class="well">
		<h3>Filters:</h3>
		<h4>Impacted Services</h4>
	    <% for impacted_service in ImpactedService.find(:all) %>
		<div>
		  <%= check_box_tag "message[impacted_service_ids][]", impacted_service.id %>
		  <%= impacted_service.name %>
		</div>
		<% end %>
		<h4>Events</h4>
	    <% for event in Event.find(:all) %>
		<div>
		  <%= check_box_tag "message[event_ids][]", event.id %>
		  <%= event.description %>
		</div>
		<% end %>
	</div>
</div>
