<div id="messages" class="span9"></div>

<script type="text/javascript">
  $(function() {
    // DssMessenger is the app name
    window.router = new DssMessenger.Routers.MessagesRouter({messages: <%= @messages.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
<div class="span3">
	<div class="well">
		<%= link_to 'New Message', new_message_path, :class => 'btn btn-primary btn-large btn-block' %>
	</div>
	<div class="well">
		<h3>Filters:</h3>
		<h4>Impacted Services</h4>
	    <% for impacted_service in ImpactedService.find(:all) %>
		<div>
		  <%= check_box_tag "message[impacted_service_ids][]", impacted_service.id %>
		  <%= impacted_service.name %>
		</div>
		<% end %>
		<h4>Events</h4>
	    <% for event in Event.find(:all) %>
		<div>
		  <%= check_box_tag "message[event_ids][]", event.id %>
		  <%= event.description %>
		</div>
		<% end %>
	</div>
</div>
