<% content_for :breadcrumb do %>
  <li>Messages</li>
  <li class="active"><%= @display_archived ? "Archived" : "Active" %> Messages</li>
<% end %>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="10%">Sent</th>
          <th width="<%= @display_archived ? '60%' : '40%' %>">Subject</th>
          <th width="20%">Author</th>
          <th colspan="<%= @display_archived ? 1 : 2 %>"></th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= time_ago_in_words(message.created_at) %></td>
            <td><%= link_to message.subject, message %></td>
            <td><%= message.sender %></td>
            <% if @display_archived %>
            <td>
              <%= link_to(message_reactivate_path(message), class: 'tooltip-open', data: { toogle: 'tooltip' }, title: 'Re-Activate' ) do %> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="margin-right: 1em;"></span> <% end %>
              <%= link_to(message_duplicate_path(message), class: 'tooltip-duplicate', data: { toogle: 'tooltip' }, title: 'Duplicate' ) do %> <span class="glyphicon glyphicon-retweet" aria-hidden="true" style="margin-right: 1em;"></span> <% end %>
              <%= link_to(message_path(message), method: :delete, class: 'tooltip-destroy', data: { toogle: 'tooltip', confirm: 'Are you sure?' }, title: 'Delete' ) do %> <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color: red;"></span> <% end %>
            </td>
            <% else %>
            <td>
              <div class="actions" data-toggle="tooltip" title="Compose new message with selected status" data-original-title="Compose new message with selected status">
                <% colors = ['primary', 'success', 'info', 'warning', 'danger'] %>
                <% @modifiers.each_with_index do |modifier, i| %>
                  <%= link_to modifier.description.slice(0..modifier.description.index(':')-1), message_duplicate_path(message, :modifier => modifier.id ), :class => 'label label-' + colors[i % 5] %>
                <% end %>
              </div>
            </td>
            <td><a href="<%= message_archive_path(message) %>" class="tooltip-archive" data-toggle="tooltip" title="Archive without sending"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></a></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- .col-md-12 -->
</div>
