<h1>Listing messages</h1>

<table class="table table-striped">
  <tr>
    <th>Subject</th>
    <th>Statement</th>
    <th>Sender</th>
    <th>Sent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.subject %></td>
    <td><%= message.impact_statement %></td>
    <td><%= message.sender_uid %></td>
    <td><%= message.created_at.to_formatted_s(:long) %></td>
    <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, message, :title => "Show" %></td>
    <td><%= link_to '<i class="icon-edit"></i>'.html_safe, edit_message_path(message), :title => "Edit" %></td>
    <td><%= link_to '<i class="icon-trash"></i>'.html_safe, message, method: :delete, data: { confirm: 'Are you sure?', :title => "Trash" } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path, :class => 'btn' %>
