<% content_for :breadcrumb do %>
  <li>Messages</li>
  <li class="active">Viewing: <%= @message.subject %></li>
<% end %>

<ul class="nav nav-tabs" style="margin-bottom: 1em;">
  <% if params[:tab].nil? or params[:tab] != 'recipients' %>
    <li role="presentation" class="active"><%= link_to 'Summary', message_path(@message.id) %></li>
    <li role="presentation"><%= link_to 'Recipients', message_path(@message.id, tab: 'recipients') %></li>
  <% else %>
    <li role="presentation"><%= link_to 'Summary', message_path(@message.id) %></li>
    <li role="presentation" class="active"><%= link_to 'Recipients', message_path(@message.id, tab: 'recipients') %></li>
  <% end %>
</ul>

<div class="row">
	<div class="col-md-8">
				<table class="table table-striped table-bordered">
					<tr>
						<td>
							<dl class="dl-horizontal" style="margin-bottom: 0;">
							  <dt>Subject</dt>
							  <dd><%= @message.subject %></dd>
							  <dt>Created</dt>
							  <dd><%= @message.created_at.strftime("%A, %B %d, %Y at %l:%M %p") %></dd>
							  <dt>Sender</dt>
							  <dd><%= @message.sender %></dd>
							  <dt>Publisher(s)</dt>
							  <dd><%= @message.publishers.map {|p| p.name }.join(",") %></dd>
							</dl>
						</td>
					</tr>
          <tr>
            <td>
              <center style="color: #777; text-transform: uppercase;">Sample</center>
              <% if @message.impact_statement %>
                <p><b>SUMMARY:</b></p>
                <%= simple_format(@message.impact_statement, {}, sanitize: false) %>
              <% end %>

              <% if @message.purpose %>
                <p><b>PURPOSE:</b></p>
                <%= simple_format(@message.purpose, {}, sanitize: false) %>
              <% end %>

              <% if @message.resolution %>
                <p><b>RESOLUTION:</b></p>
                <%= simple_format(@message.resolution, {}, sanitize: false) %>
              <% end %>

              <% if @message.workaround %>
                <p><b>WORKAROUND:</b></p>
                <%= simple_format(@message.workaround, {}, sanitize: false) %>
              <% end %>

              <% if @message.window_start %>
                <p><b>START OF WINDOW:</b></p>
                <p>
                <%= @message.window_start.strftime("%A, %B %d, %Y at %l:%M %p") %><%= @message.window_end.nil? ? ', ONGOING' : '' %>
                </p>
              <% end %>

              <% if @message.window_end %>
                <p><b>END OF WINDOW:</b></p>
                <p>
                <%= @message.window_end.strftime("%A, %B %d, %Y at %l:%M %p") %>
                </p>
              <% end %>

              <% if @message.impacted_services.length > 0 %>
                <p><b>IMPACTED SERVICES:</b></p>
                <ul>
                <% @message.impacted_services.each do |i| %>
                  <li><%= i.name %></li>
                <% end %>
                </ul>
              <% end %>

              <% if @message.other_services %>
                <p><b>OTHER SERVICES:</b></p>
                <%= simple_format(@message.other_services, {}, sanitize: false) %>
              <% end %>

              <%= simple_format(@footer, {}, sanitize: false) %>
            </td>
          </tr>
				</table>

	</div>
	<div class="col-md-4">
		<div id="send_status" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto"></div>

		<div id="read_status" style="min-width: 300px; height: 300px; max-width: 300px; margin: 0 auto"></div>
	</div>
</div> <!-- .row -->

<script type="text/javascript">
	ready = function() {
		// Make monochrome colors and set them as default for all pies
    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [];

				colors[0] = '#377bb5';
				colors[1] = '#60c0dc';
				colors[2] = '#d75452';

        return colors;
    }());

    // Build the charts
    $('#read_status').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Read Status'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
								dataLabels: {
                  enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: "Statuses",
            data: [
                {name: "Read", y: <%= @read %>},
                {name: "Unread / Unknown", y: <%= @unread %>}
            ]
        }]
    });

    $('#send_status').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Send Status'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                cursor: 'pointer',
								dataLabels: {
                  enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: "Statuses",
            data: [
                {name: "Delivered", y: <%= @sent %>},
                {name: "Sending", y: <%= @unsent %>}
            ]
        }]
    });
	};

	$(document).on('ready page:load', ready);
</script>
