<% content_for :breadcrumb do %>
  <li>Preferences</li>
  <li class="active">Classifications</li>
<% end %>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tbody>
        <% @classifications.each do |classification| %>
          <tr>
            <td>
              <%= form_for [:preferences, classification], html: { class: "preferences__form" } do |f| %>
                <%= f.text_field :description, class: "typeahead form-control preferences__input" %>
                <%= f.submit "Update", class: "btn btn-default preferences__button" %> 
                <%= link_to 'Remove', [:preferences, classification], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: 'width: 8em; margin-right: .5em' %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= form_for [:preferences, Classification.new], html: { class: "preferences__form" } do |f| %>
              <%= f.text_field :description, class: "typeahead form-control preferences__input" %>
              <%= f.submit "Create", class: "btn btn-primary preferences__button--large" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
