<% content_for :breadcrumb do %>
  <li>Preferences</li>
  <li class="active">Classifications</li>
<% end %>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tbody>
        <% @classifications.each do |classification| %>
          <tr>
            <%= form_for [:preferences, classification] do |f| %>
              <td>
                <%= f.text_field :description, class: "typeahead form-control" %>
              </td>
              <td width="20%"><%= f.submit "Update", class: "btn btn-default", style: 'width: 45%' %> <%= link_to 'Remove', [:preferences, classification], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: 'width: 45%' %></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <%= form_for [:preferences, Classification.new] do |f| %>
            <td>
              <%= f.text_field :description, class: "typeahead form-control" %>
            </td>
            <td><%= f.submit "Create", class: "btn btn-primary", style: 'width: 90%' %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
