<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @setting.item_name %>
</p>

<p>
  <b>Item value:</b>
  <%= @setting.item_value %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
