<head>
<style>
	dl {
		margin-bottom: 20px;
	}
	dt {
		float: left;
		width: 120px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: bold;
		display: block;
	}
	dd {
		margin-left: 140px;
	}
</style>
</head>

<p>Dear <%= @member.first %>,</p>

	<% if @message.impact_statement %>
	<dl>
		<dt class="title">Summary</dt>
		<dd><%= @message.impact_statement %></dd>
	<% end %>
	<% if @message.window_start %>
		<dt class="title">Window Start</dt>
		<dd><%= @message.window_start.strftime("%A, %B %d, %Y at %l:%M %p") %></dd>
	<% end %>
	<% if @message.window_end %>
		<dt class="title">Window End</dt>
		<dd><%= @message.window_end.strftime("%A, %B %d, %Y at %l:%M %p") %></dd>
	<% end %>
	<% if @message.purpose %>
		<dt class="title">Purpose</dt>
		<dd><%= @message.purpose %></dd>
	<% end %>
	<% if @message.resolution %>
		<dt class="title">Resolution</dt>
		<dd><%= @message.resolution %></dd>
	<% end %>
	<% if @message.workaround %>
		<dt class="title">Workaround</dt>
		<dd><%= @message.workaround %></dd>
	<% end %>
	<% if @message.impacted_services.length > 0 %>
		<dt class="title">Impacted Services</dt>
		<dd>
			<% @message.impacted_services.each do |i| %>
				<li><%= i.name %></li>
			<% end %>
		</dd>
	<% end %>
	<% if @message.other_services %>
		<dt class="title">Other Services</dt>
		<dd><%= @message.other_services %></dd>
	<% end %>
	</dl>

<p>
	Please contact the DSS IT Service Desk with any questions or concerns:
	<br /><br />
	<sdlong>Via web</sdlong>: <a href="http://it.dss.ucdavis.edu/selfserve">http://it.dss.ucdavis.edu/selfserve</a><br />
	<sdlong>Via phone</sdlong>: 530-752-8800<br />
	<sdlong>Via email</sdlong>: <a href="mailto:ithelp@dss.ucdavis.edu">ithelp@dss.ucdavis.edu</a><br />
</p>
