<% content_for :breadcrumb do %>
  <li>Preferences</li>
  <li class="active">Modifiers</li>
<% end %>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover">
      <tbody>
        <% @modifiers.each do |modifier| %>
          <tr>
              <td>
                <%= form_for [:preferences, modifier], html: { class: "preferences__form" } do |f| %>
                  <%= f.text_field :description, class: "typeahead form-control preferences__input" %>
                  <%= f.submit "Update", class: "btn btn-default preferences__button" %>
                  <%= link_to 'Remove', [:preferences, modifier], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger preferences__button"  %></td>
                <% end %>
          </tr>
        <% end %>
        <tr>
          <td>
            <%= form_for [:preferences, Modifier.new], html: { class: "preferences__form" } do |f| %>
              <%= f.text_field :description, class: "typeahead form-control preferences__input" %>
              <%= f.submit "Create", class: "btn btn-primary preferences__button--large" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>

  </div> <!-- .col-md-12 -->
</div> <!-- .row -->
