<td>
	<div class="accordion-group frameless">
	  <div class="accordion-heading collapsed">
	    <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%= id %>">
				<i class="icon-arrow-right accordion-toggle-icon"></i>
	      <%= subject %>
	    </a>
	  </div>
	</div>
</td>
<td class="nowrap"><%= sender_name %></td>
<td class="nowrap"><%= created_at %></td>
<td><div class="actions"></div></td>
<td><a href="#/<%= id %>/archive" class="tooltip-archive" ><i class="icon-inbox"></i></a></td>
