<td>
	<div class="accordion-group frameless">
	  <div class="accordion-heading collapsed">
	    <a class="accordion-toggle" data-toggle="collapse" href="#collapse<%= id %>">
				<i class="icon-arrow-right accordion-toggle-icon"></i>
	      <%= subject %>
	    </a>
	  </div>
	  <div id="collapse<%= id %>" class="accordion-body collapse">
	    <div class="accordion-inner">
	      <%= impact_statement %>
	    </div>
	  </div>
	</div>
</td>
<td><%= sender_uid %></td>
<td class="nowrap"><%= created_at %></td>

<td><a href="#/<%= id %>" class="tooltip-show" ><i class="icon-eye-open"></i></td>
<td><a href="#/<%= id %>/duplicate" class="tooltip-duplicate" ><i class="icon-retweet"></i></td>
<td><a href="#/<%= id %>/destroy" class="tooltip-destroy" ><i class="icon-trash"></i></a></td>
