<div class="modal">
    <div class="modal-header"><h3>New message</h3></div>
	<form id="new-message" name="message">
	    <div class="modal-body">

		  <div class="field">
		    <label for="sender_uid"> sender_uid:</label>
		    <input type="text" name="sender_uid" id="sender_uid" value="<%= sender_uid %>" >
		  </div>

		  <div class="field">
		    <label for="subject"> Recipients:</label>
			<select id="new_recipients_select" name="recipient_ids"></select>
		  </div>

		  <div class="field">
		    <label for="subject"> subject:</label>
		    <input type="text" name="subject" id="subject" value="<%= subject %>" >
		  </div>

		  <div class="field">
		    <label for="impact_statement"> impact_statement:</label>
		    <textarea type="text" name="impact_statement" id="impact_statement" value="<%= impact_statement %>" />
		  </div>

		  <div class="field">
		    <label for="window_start"> window_start:</label>
		    <input type="text" name="window_start" id="window_start" class="datepicker" value="<%= window_start %>" >
		  </div>

		  <div class="field">
		    <label for="window_end"> window_end:</label>
		    <input type="text" name="window_end" id="window_end" class="datepicker" value="<%= window_end %>" >
		  </div>

		  <div class="field">
		    <label for="purpose"> purpose:</label>
		    <textarea type="text" name="purpose" id="purpose" value="<%= purpose %>" />
		  </div>

		  <div class="field">
		    <label for="resolution"> resolution:</label>
		    <textarea type="text" name="resolution" id="resolution" value="<%= resolution %>" />
		  </div>

		  <div class="field">
		    <label for="workaround"> workaround:</label>
		    <textarea type="text" name="workaround" id="workaround" value="<%= workaround %>" />
		  </div>

		  <div class="field">
		    <label for="other_services"> other_services:</label>
		    <textarea type="text" name="other_services" id="other_services" value="<%= other_services %>" />
		  </div>


	    </div>
	    <div class="modal-footer">
	    	<input type="submit" name="Send" class="btn btn-primary"  value="Send Message" />
			<a class="btn" href="#/index">Cancel</a>
		</div>
	</form>
</div>
<div class="modal-backdrop"></div>
