<h1>New message</h1>
	<form id="new-message" name="message" class="form-horizontal">

		  <div class="control-group">
		    <label class="control-label" for="Recipients">Recipients</label>
				<div class="controls">
					<input type="text" name="recipient_uids" id="Recipients" />
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="subject">Subject</label>
				<div class="controls">
		    	<input type="text" name="subject" id="subject" value="<%= subject %>" ></input>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="classifications">Classification</label>
				<div class="controls">
					<div id="classifications_select"></div>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="modifiers">Modifier</label>
				<div class="controls">
					<div id="modifiers_select"></div>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="impact_statement">Impact Statement</label>
				<div class="controls">
		    	<textarea type="text" name="impact_statement" id="impact_statement" ><%= impact_statement %></textarea>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="window_start">Window Start</label>
				<div class="controls">
					<div id="datetimepicker" class="input-append date datetimepicker">
				    <input type="text" name="window_start" id="window_start" readonly value="<%= window_start %>" >
						<span class="add-on"><i class="icon-remove"></i></span>
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="window_end">Window End</label>
				<div class="controls">
					<div id="datetimepicker" class="input-append date datetimepicker">
				    <input type="text" name="window_end" id="window_end" readonly value="<%= window_end %>" >
						<span class="add-on"><i class="icon-remove"></i></span>
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="purpose">Purpose</label>
				<div class="controls">
		    	<textarea type="text" name="purpose" id="purpose" ><%= purpose %></textarea>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="resolution">Resolution</label>
				<div class="controls">
		    	<textarea type="text" name="resolution" id="resolution" ><%= resolution %></textarea>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="workaround">Workaround</label>
				<div class="controls">
		    	<textarea type="text" name="workaround" id="workaround" ><%= workaround %></textarea>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="other_services">Other Services</label>
				<div class="controls">
		    	<textarea type="text" name="other_services" id="other_services" ><%= other_services %></textarea>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="impacted_services">Impacted Services</label>
				<div class="controls">
					<div id="impacted_services_select"></div>
				</div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="messenger_events">Events</label>
				<div class="controls">
					<div id="messenger_events_select"></div>
				</div>
		  </div>


	    <div class="form-actions">
	    	<input type="submit" name="Send" class="btn btn-primary"  value="Send Message" />
				<a class="btn" href="#/index">Cancel</a>
			</div>
	</form>
