	<p>
		<span class="section-head">Summary:</span>
		<span><%= impact_statement %></span>
		<span class="window_start section-head">Start of window:</span>
		<span class="window_start"><%= window_start %></span>
		<span class="window_end section-head">End of window:</span>
		<span class="window_end"><%= window_end %></span>
		<span class="purpose section-head">Purpose:</span>
		<span class="purpose"><%= purpose %></span>
		<span class="resolution section-head">Resolution:</span>
		<span class="resolution"><%= resolution %></span>
		<span class="workaround section-head">Workaround:</span>
		<span class="workaround"><%= workaround %></span>
		<span class="impacted_services section-head">Impacted Services:</span>
		<span class="impacted_services" id="impacted_services_list">
		</span>
		<span class="other_services section-head">Other Services:</span>
		<span class="other_services"><%= other_services %></span>
	</p>
