<p>Dear [Firstname],</p>

	<dl>
		<dt class="title">Summary</dt>
		<dd><%= impact_statement %></dd>
		<dt class="title">Purpose</dt>
		<dd><%= purpose %></dd>
		<dt class="title">Resolution</dt>
		<dd><%= resolution %></dd>
		<dt class="title">Workaround</dt>
		<dd><%= workaround %></dd>
		<dt class="title">Window Start</dt>
		<dd><%= window_start %></dd>
		<dt class="title">Window End</dt>
		<dd><%= window_end %></dd>
		<dt class="title">Classification</dt>
		<dd><%= classification.description %></dd>
		<dt class="title">Modifier</dt>
		<dd><%= modifier.description %></dd>
		<dt class="title">Impacted Services</dt>
		<dd>
		</dd>
		<dt class="title">Other Services</dt>
		<dd><%= other_services %></dd>
	</dl>

<p>
	Please contact the DSS IT Service Desk with any questions or concerns:
	<br /><br />
	<sdlong>Via web</sdlong>: <a href="http://it.dss.ucdavis.edu/selfserve">http://it.dss.ucdavis.edu/selfserve</a><br />
	<sdlong>Via phone</sdlong>: 530-752-8800<br />
	<sdlong>Via email</sdlong>: <a href="mailto:ithelp@dss.ucdavis.edu">ithelp@dss.ucdavis.edu</a><br />
</p>
