<p>Dear [Firstname],</p>

	<dl class="dl-horizontal">
		<dt>Summary</dt>
		<dd><%= impact_statement %></dd>
		<dt class="window_start">Window Start</dt>
		<dd class="window_start"><%= window_start %></dd>
		<dt class="window_end">Window End</dt>
		<dd class="window_end"><%= window_end %></dd>
		<dt class="purpose">Purpose</dt>
		<dd class="purpose"><%= purpose %></dd>
		<dt class="resolution">Resolution</dt>
		<dd class="resolution"><%= resolution %></dd>
		<dt class="workaround">Workaround</dt>
		<dd class="workaround"><%= workaround %></dd>
		<dt class="impacted_services">Impacted Services</dt>
		<dd class="impacted_services" id="impacted_services_list">
		</dd>
		<dt class="other_services">Other Services</dt>
		<dd class="other_services"><%= other_services %></dd>
	</dl>

<p>
	Please contact the DSS IT Service Desk with any questions or concerns:
	<br /><br />
	<sdlong>Via web</sdlong>: <a href="http://it.dss.ucdavis.edu/selfserve">http://it.dss.ucdavis.edu/selfserve</a><br />
	<sdlong>Via phone</sdlong>: 530-752-8800<br />
	<sdlong>Via email</sdlong>: <a href="mailto:ithelp@dss.ucdavis.edu">ithelp@dss.ucdavis.edu</a><br />
</p>
