<div class="modal">
    <div class="modal-header"><h3><%= subject %></h3></div>
    <div class="modal-body">

		<p>
		  <b>Sender uid:</b>
		  <%= sender_uid %>
		</p>

		<p>
		  <b>Recipients:</b>
		  <%= recipient_ids %>
		</p>

		<p>
		  <b>Impact statement:</b>
		  <%= impact_statement %>
		</p>

		<p>
		  <b>Window start:</b>
		  <%= window_start %>
		</p>

		<p>
		  <b>Window end:</b>
		  <%= window_end %>
		</p>

		<p>
		  <b>Purpose:</b>
		  <%= purpose %>
		</p>

		<p>
		  <b>Resolution:</b>
		  <%= resolution %>
		</p>

		<p>
		  <b>Workaround:</b>
		  <%= workaround %>
		</p>

		<p>
		  <b>Other services:</b>
		  <%= other_services %>
		</p>

		<p>
		  <b>Impacted Services:</b>
		  <%= impacted_service_ids %>
		</p>

		<p>
		  <b>Events:</b>
		  <%= messenger_event_ids %>
		</p>

    </div>
    <div class="modal-footer"><a class="btn" href="#/index">Close</a></div>
</div>
<div class="modal-backdrop"></div>

