<p>
  <b>Subject:</b>
  <%= subject %>
</p>

<p>
  <b>Impact statement:</b>
  <%= impact_statement %>
</p>

<p>
  <b>Window start:</b>
  <%= window_start %>
</p>

<p>
  <b>Window end:</b>
  <%= window_end %>
</p>

<p>
  <b>Purpose:</b>
  <%= purpose %>
</p>

<p>
  <b>Resolution:</b>
  <%= resolution %>
</p>

<p>
  <b>Workaround:</b>
  <%= workaround %>
</p>

<p>
  <b>Other services:</b>
  <%= other_services %>
</p>

<p>
  <b>Sender uid:</b>
  <%= sender_uid %>
</p>


<a href="#/index">Back</a>